
<br/>

<table>
  <tr><td>
    <p>1. Встраивание через директиву ngx-datepicker и привязка к formControl</p>
    <div class="b3-ws-header__date">
      <div class="b3-datepicker undefined">

        <div class="b3-input-group">
          <label class="b3-input-group__label b3-input-group__label--static">Планируемая дата</label>
          <div class="b3-nowrap"><span class="icon icon_calendar-full"></span>
            <input ngx-datepicker class="b3-input-group__field" [formControl]="formControl1">
          </div>
        </div>

      </div>
      <div class="b3-arrow-dd"></div>
    </div>
    <br/>
    <button type="button" (click)="setFormControl1()">Set Today</button>
    <p>Значение {{formControl1.value.toLocaleDateString()}}</p>

    <br/>
    <p>2. Встраивание через директиву ngx-datepicker и работа через [value] -> (onCompleted)</p>
    <div class="b3-ws-header__date">
      <div class="b3-datepicker undefined">
    
        <div class="b3-input-group">
          <label class="b3-input-group__label b3-input-group__label--static">Планируемая дата</label>
          <div class="b3-nowrap"><span class="icon icon_calendar-full"></span>
            <input ngx-datepicker class="b3-input-group__field" [(value)]="date1">
          </div>
        </div>
      </div>
      <div class="b3-arrow-dd"></div>
    </div>
    <br/>
    <button type="button" (click)="setDate1()">Set Today</button>
    <p>Значение {{date1.toLocaleDateString()}}</p>

    <br/>
    <p>Использование компонента app-datepicker-input и привязка к formControl</p>
    <div class="b3-ws-header__date">
      <div class="b3-datepicker undefined">
        <div class="b3-input-group">
          <label class="b3-input-group__label b3-input-group__label--static">Планируемая дата</label>
          <div class="b3-nowrap"><span class="icon icon_calendar-full"></span>
            <app-datepicker-input class="b3-input-group__field" [formControl]="formControl2"></app-datepicker-input>
          </div>
        </div>
      </div>
      <div class="b3-arrow-dd"></div>
    </div>
    <br/>
    <button type="button" (click)="setFormControl2()">Set Today</button>
    <p>Значение {{formControl2.value.toLocaleDateString()}}</p>

    <br/>
    <p>Использование компонента app-datepicker-input и работа через [value] -> (onCompleted)</p>
    <div class="b3-ws-header__date">
      <div class="b3-datepicker undefined">
        <div class="b3-input-group">
          <label class="b3-input-group__label b3-input-group__label--static">Планируемая дата</label>
          <div class="b3-nowrap"><span class="icon icon_calendar-full"></span>
            <app-datepicker-input class="b3-input-group__field" [(value)]="date2"></app-datepicker-input>
          </div>
        </div>
      </div>
      <div class="b3-arrow-dd"></div>
    </div>
    <br/>
    <button type="button" (click)="setDate2()">Set Today</button>
    <p>Значение {{date2.toLocaleDateString()}}</p>

  </td>
  <td width="200"></td>
  <td valign="top">

    <p>Использование компонента app-datepicker и работа через [value] -> (onCompleted)</p>
    <app-datepicker [(value)]="date3" [position]="{'top':120,'left':460}"></app-datepicker>
    <button type="button" (click)="setDate3()">Set Today</button>
    <p>Значение {{date3.toLocaleDateString()}}</p>

  </td></tr>
</table>